.photo {
  .photo__hero {
    background-image: url('https://api.technodom.kz/f3/api/v1/images/hero-bg.png_adcf8c24d081c330531c64bf1bf9948e');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 106px 0 114px;
    @media (max-width: 768px) {
      padding: 32px 0 42px;
      border-radius: 0px 0px 24px 24px;
    }
  }

  .hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .hero__image {
    max-width: 100%;
    width: 50%;
    @media (max-width: 768px) {
      display: none;
    }
    &--mob {
      display: none;
      max-width: 100%;
      width: 100%;
      @media (max-width: 768px) {
        display: unset;
        margin-bottom: 16px;
      }
    }
  }

  .hero__info {
    max-width: 502px;
    margin-right: 96px;
    @media (max-width: 768px) {
      margin-right: unset;
    }
  }
  .hero__subheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 4px;
    }
  }
  .hero__title {
    font-weight: 700;
    font-size: 68px;
    line-height: 130%;
    color: #FFFFFF;
    font-family: 'Museo Extra Bold';
    margin: 0;
    margin-bottom: 24px;
    @media (max-width: 1200px) {
      font-size: 48px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 16px;
    }
  }
  .hero__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 48px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 130%;
      margin-bottom: 24px;
    }
  }
  .hero__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    font-family: 'Museo Bold';
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 56px;
    background-color: #FC6B3F;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #fb8b6a;
    }
    @media (max-width: 768px) {
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      padding: 14px 48px;
      display: block;
      width: fit-content;
      margin-bottom: 16px;
      order: -1;
    }
  }
}