.photo {
  .visual {
    padding-bottom: 32px;
  }
  .visual__container {
    padding: 16px;
    border: 1px solid #C0C5C9;
    border-radius: 32px;
  }
  .visual__img {
    width: 100%;
    max-width: 100%;
  }
}