* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./sections/products.scss";
@import "./sections/swiper.scss";
@import "./sections/hero.scss";
@import "./sections/poular-goods.scss";
@import "./sections/promos.scss";
@import "./sections/benefits.scss";
@import "./sections/address.scss";
@import "./sections/consultants.scss";
@import "./sections/brands.scss";
@import "./sections/visual.scss";

@font-face {
  font-family: 'Museo Extra Bold';
  src: url('https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-ExtraBold.woff2');
}

@font-face {
  font-family: 'Museo Thin';
  src: url('https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Thin.woff2');
}

@font-face {
  font-family: 'Museo Light';
  src: url('https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Light.woff2');
}

@font-face {
  font-family: 'Museo Regular';
  src: url('https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Regular.woff2');
}

@font-face {
  font-family: 'Museo Bold';
  src: url('https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Bold.woff2');
}

.photo {
  font-family: 'Museo Regular';
  background: #0F0F0F;
  padding-bottom: 200px;
  @media (max-width: 768px) {
    padding-bottom: 80px;
  }

  .subtitle {
    font-size: 52px;
    line-height: 120%;
    color: #fff;
    font-family: "Museo Extra Bold";
    text-align: center;  
    margin: 0;
    margin-bottom: 48px;
    @media (max-width: 768px) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
}

.page__main > .container,
.cms-page {
  width: 100% !important;
  max-width: unset;
}

.cms-page__breadcrumbs {
  display: none;
}

.cms-page li:before {
  content: unset;
}

.cms-page li {
  padding-left: unset;
  margin-bottom: unset;
}

.cms-page li:last-child {
  margin-bottom: unset;
}

@media screen and (max-width: 575px) {
  .page__main > .container {
      padding: 0;
  }
}

.photo__container {
  max-width: 1232px;
  margin: 0 auto;
}

.photo__container--video {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .photo__container {
      max-width: calc(100vw - 32px);
      padding: 0 16px;
  }
}

.photo__container--video {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .photo__container--video {
      max-width: calc(100vw - 32px);
      padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .photo__container--video {
      padding: 0 24px;
  }
}

.photo__container--slider {
  max-width: 1232px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .photo__container--slider {
      max-width: calc(100vw - 32px);
      padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .photo__container--slider {
      padding: 0;
  }
}

@media (max-width: 767px) {
  .photo__container {
      padding: 0 16px;
  }
}

html {
  scroll-behavior: smooth;
}